.imgBx div {
    background-image: url(static/img/profile.jpg);
    background-position: center;
    background-size: cover;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

.imgBx div:hover {
    background-image: url(static/img/profile1.jpg);
    background-size: cover;
    background-position: center;
}

.imgBx {
    height: 12rem;
    width: 8rem;
    margin-top: 4rem !important;
    margin: auto;
}

.imgBx div {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}