* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 200px;
    font-family: sans-serif;
    color: #261d1d;
}

body {
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-color: #d9c4c4;
}

div header span,
div div span {
    color: black;
    font-size: 200px;
    margin-left: 10px;
    font-family: "楷体", "楷体_GB2312";
}

div div nav a {
    color: darkblue;
    display: block;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 10px;
    font-family: "楷体", "楷体_GB2312";
}

div header div nav a {}