.text-primary {
    color: $primary-color;
}
.text-secondary {
    color: $secondary-color;
}
.text-light {
    color: $light-color;
}
.text-dark {
    color: $dark-color;
}

.bg-primary {
    background-color: $primary-color;
}
.bg-secondary {
    background-color: $secondary-color;
}
.bg-light {
    background-color: $light-color;
}
.bg-dark {
    background-color: $dark-color;
}