*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*  Utilities   */
.fs--1{
    font-size: 5rem;
}
.fs--2{
    font-size: 4rem;
}
.fs--3{
    font-size: 3rem;
}
.fs--4{
    font-size: 2rem;
}
.fs--5{
    font-size: 1.5rem;
}

header,
section {
	padding: 4rem 0;
}
@media all and (min-width: 992px) {
    header,
    section {
	padding: 7rem 0;
}
}
/* navbar   */
nav{
    height: 10vh;
}

nav a.nav-link:hover{
    text-decoration: underline;

    text-underline-offset: 12px;
}


/*  header  */
header{
    height: 90vh;
}
header.bg-image {
    background-color: #fff;
    background-image: url(../images/bg-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
header img{
    width: 12rem;
}
/* About    */
.container-fluid {
	margin-inline: auto;
	width: min(90%, 70.5rem);
}

.split {
	display: flex;
	flex-direction: column;
}

@media (min-width: 992px) {
	.split {
		flex-direction: row;
	}

	.split > *:not(.img) {
		flex-basis: 100%;
	}

	.split > * + * {
		margin-left: 2em;
	}
}
section.about .sep{
    border: solid red 10px;
    text-align: center;
}
section.about .sep > * {
 
    display: inline;
    
}
section .sep hr{
    opacity: 1;
    height: 4px;
}
section.about .sep hr:not([size]){
    height: 4px;
}


section.about .img{ 
    width: 40rem;
    height: 40rem;
}
section.about .first-img{
    background-image: url(../images/my-school.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}section.about .sec-img{
    background-image: url(../images/my-hobbies.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}