.footer {
    .container {
        @include flex(column, center, center);
        
        .navbar-links {
            width: 100%;
            @include flex(row, center, center);
            .link-item {
                list-style: none;
                margin: 1rem;
                
                a {
                    text-decoration: none;
                }
            }
        }
    }
}