@import "../variable/variable";

h1,
h2,
h3,
h1 span,
h2 span,
h3 span {
    letter-spacing: 1.5px;
    font-family: "Playfair Display", serif;
    text-decoration: underline $main-color wavy 0.25rem;
    
}

p,
a {font-family: "Roboto", sans-serif;
}