* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.underline {
    display: none;

    justify-content: center;
    align-items: center;

    @include media(bigPhone) {
        display: flex;
    }

    hr {

        margin: 0.25rem;
        height: 0.25rem;
        width: 12rem;
        border: none;
        border-radius: .25rem;
        display: block;
        @include background($light-color);

    }

    i {
        display: inline;
        font-size: 1.5rem;
    }
}
.container {
    padding: 1rem;
    @include media() {
        padding: 2rem;
    }
        
    @include media(laptop) {
        padding: 3rem;
    }
}



.headline {
    margin: 1rem;
    padding: 1rem;

    h1 {
        @include underline();

        text-align: center;
        margin: .5rem;
        padding: .5rem;
    }
    h3 {
        margin: 0.25rem;
        padding: 0.25rem;
    }
}