@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.underline {
  display: none;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .underline {
    display: flex;
  }
}
.underline hr {
  margin: 0.25rem;
  height: 0.25rem;
  width: 12rem;
  border: none;
  border-radius: 0.25rem;
  display: block;
  background-color: #f5f5f5;
  background-image: none;
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
}
.underline i {
  display: inline;
  font-size: 1.5rem;
}

.container {
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .container {
    padding: 3rem;
  }
}

.headline {
  margin: 1rem;
  padding: 1rem;
}
.headline h1 {
  text-decoration-line: underline;
  text-decoration-color: #FFA500;
  text-decoration-style: solid;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.5rem;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
}
.headline h3 {
  margin: 0.25rem;
  padding: 0.25rem;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.75rem;
  padding: 0.75rem;
}
.social i {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 2rem;
  border-radius: 50%;
  color: #f5f5f5;
  cursor: pointer;
  background-color: #333;
  background-image: none;
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
  transition: 0.75s;
}
.social i:hover {
  background-color: #8B008B;
  background-image: none;
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
}

.text-primary {
  color: #FFA500;
}

.text-secondary {
  color: #8B008B;
}

.text-light {
  color: #f5f5f5;
}

.text-dark {
  color: #333;
}

.bg-primary {
  background-color: #FFA500;
}

.bg-secondary {
  background-color: #8B008B;
}

.bg-light {
  background-color: #f5f5f5;
}

.bg-dark {
  background-color: #333;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: bolder;
  font-variant: titling-caps;
  font-family: "Roboto";
  font-style: normal;
  font-stretch: normal;
}

h2 {
  font-size: 3.5rem;
  font-weight: bolder;
  font-variant: titling-caps;
  font-family: "Roboto";
  font-style: normal;
  font-stretch: normal;
}

h3 {
  font-size: 3rem;
  font-weight: bolder;
  font-variant: titling-caps;
  font-family: "Roboto";
  font-style: normal;
  font-stretch: normal;
}

h4 {
  font-size: 2.5rem;
  font-weight: bolder;
  font-variant: titling-caps;
  font-family: "Roboto";
  font-style: normal;
  font-stretch: normal;
}

h5 {
  font-size: 2rem;
  font-weight: bolder;
  font-variant: titling-caps;
  font-family: "Roboto";
  font-style: normal;
  font-stretch: normal;
}

h6 {
  font-size: 1.5rem;
  font-weight: bolder;
  font-variant: titling-caps;
  font-family: "Roboto";
  font-style: normal;
  font-stretch: normal;
}

text {
  font-size: 1.5rem;
  font-weight: bolder;
  font-variant: titling-caps;
  font-family: "Roboto";
  font-style: normal;
  font-stretch: normal;
}

p, i, a, span, li {
  font-size: 1.5rem;
  font-weight: normal;
  font-variant: normal;
  font-family: "Roboto";
  font-style: normal;
  font-stretch: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar .container .navbar-logo {
  display: none;
  padding: 0.25rem;
  margin: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #333;
  background-image: url("../images/logo.jpg");
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #FFA500;
}
@media screen and (min-width: 768px) {
  .navbar .container .navbar-logo {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .navbar .container .navbar-logo {
    width: 5rem;
    height: 5rem;
  }
}
.navbar .container ul.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navbar .container ul.navbar-links li.link-item {
  margin: 0.25rem;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .navbar .container ul.navbar-links li.link-item {
    margin: 0.5rem;
  }
}
@media screen and (min-width: 992px) {
  .navbar .container ul.navbar-links li.link-item {
    margin: 1rem;
    font-size: 1.5rem;
  }
}
.navbar .container ul.navbar-links li.link-item a {
  text-decoration: none;
  color: #f5f5f5;
}
.navbar .container ul.navbar-links li.link-item a:hover, .navbar .container ul.navbar-links li.link-item a:active, .navbar .container ul.navbar-links li.link-item a:focus {
  color: #b5b5b5;
}

.home .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .container .main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .home .container .main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}
.home .container .main .infoBx {
  margin: 1rem;
  padding: 1rem;
}
.home .container .main .infoBx .name {
  margin: 0.75rem;
  padding: 0.75rem;
}
.home .container .main .infoBx .name h1 {
  margin: 0.25rem;
  padding: 0.25rem;
}
.home .container .main .infoBx .name h1::first-letter {
  color: #8B008B;
}
.home .container .main .infoBx div.desc {
  margin: 0.75rem;
  padding: 0.75rem;
}
.home .container .main .infoBx div.desc .basic {
  margin: 0.25rem;
  padding: 0.25rem;
}
.home .container .main .infoBx div.desc .mail {
  margin: 0.25rem;
  padding: 0.25rem;
}
.home .container .main .infoBx div.desc .mail a.email-link {
  transition: 1s;
  color: #8B008B;
}
.home .container .main .infoBx div.desc .mail a.email-link:hover, .home .container .main .infoBx div.desc .mail a.email-link:active, .home .container .main .infoBx div.desc .mail a.email-link:focus {
  color: #0c000c;
}
.home .container .main .infoBx div.desc .link {
  margin: 0.25rem;
  padding: 0.25rem;
}
.home .container .btn .next {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
.home .container .btn .next a.about {
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #8B008B;
  background-image: none;
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
  color: #f5f5f5;
  text-decoration: none;
  transition: 0.5s;
}
.home .container .btn .next a.about:hover {
  background-color: #ff0cff;
  background-image: none;
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
  box-shadow: 0 0 1rem #8B008B;
}
.home .container .skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  color: #f5f5f5;
  background-color: #333;
  background-image: none;
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
}
.home .container .skills .headline {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .container .skills .headline h1::first-letter {
  color: #FFA500;
}
.home .container .skills .headline .underline {
  display: none;
}
@media screen and (min-width: 480px) {
  .home .container .skills .headline .underline {
    display: flex;
  }
}
.home .container .skills .headline .underline hr {
  width: 6rem;
}
@media screen and (min-width: 992px) {
  .home .container .skills .headline .underline hr {
    width: 12rem;
  }
}
.home .container .skills .headline .underline i {
  color: #FFA500;
}
.home .container .skills .body {
  margin: 0.5rem;
  padding: 0.5rem;
}
.home .container .skills .body ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
}
@media screen and (min-width: 480px) {
  .home .container .skills .body ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .home .container .skills .body ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .home .container .skills .body ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.home .container .skills .body ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0.25rem;
  padding: 0.25rem;
}
.home .container .skills .body ul li i {
  color: #FFA500;
}

.projects .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects .container .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects .container .main .headline h1 {
  margin: 0.25rem;
  padding: 0.25rem;
  text-decoration-line: line;
  text-decoration-color: #8B008B;
  text-decoration-style: solid;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.5rem;
}
.projects .container .main .headline h1::first-letter {
  color: #8B008B;
}
.projects .container .main .headline .underline hr {
  background-color: #333;
  background-image: none;
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
}
.projects .container .main .headline .underline i {
  color: #8B008B;
}
.projects .container .main .body {
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}
.projects .container .main .body .split {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .projects .container .main .body .split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.projects .container .main .body .split .first .card,
.projects .container .main .body .split .second .card {
  background-color: #333;
  background-image: none;
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
.projects .container .main .body .split .first .card .img,
.projects .container .main .body .split .second .card .img {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  height: 15rem;
  border-radius: 0.5rem;
  display: none;
}
@media screen and (min-width: 480px) {
  .projects .container .main .body .split .first .card .img,
  .projects .container .main .body .split .second .card .img {
    display: inline-block;
  }
}
.projects .container .main .body .split .first .card .card-headline,
.projects .container .main .body .split .second .card .card-headline {
  margin: 0.5rem;
  padding: 0.5rem;
}
.projects .container .main .body .split .first .card .card-headline h3,
.projects .container .main .body .split .second .card .card-headline h3 {
  text-decoration-line: underline;
  text-decoration-color: #FFA500;
  text-decoration-style: solid;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.5rem;
  padding: 0.25rem;
  margin: 0.25rem;
}
.projects .container .main .body .split .first .card .card-headline h3::first-letter,
.projects .container .main .body .split .second .card .card-headline h3::first-letter {
  color: #FFA500;
}
.projects .container .main .body .split .first .card .card-headline h5,
.projects .container .main .body .split .second .card .card-headline h5 {
  margin: 0.25rem;
  padding: 0.25rem;
}
.projects .container .main .body .split .first .card .card-headline p,
.projects .container .main .body .split .second .card .card-headline p {
  margin: 0.25rem;
  padding: 0.25rem;
}
.projects .container .main .body .split .first .card hr,
.projects .container .main .body .split .second .card hr {
  border: none;
  height: 1px;
}
.projects .container .main .body .split .first .card .card-body,
.projects .container .main .body .split .second .card .card-body {
  margin: 0.25rem;
  padding: 0.25rem;
}
.projects .container .main .body .split .first .card .card-body ul,
.projects .container .main .body .split .second .card .card-body ul {
  list-style: none;
  width: 100%;
}
.projects .container .main .body .split .first .card .card-body ul li,
.projects .container .main .body .split .second .card .card-body ul li {
  width: 100%;
}
.projects .container .main .body .split .first .card .card-body ul li a,
.projects .container .main .body .split .second .card .card-body ul li a {
  color: #f5f5f5;
}
.projects .container .main .body .split .first .card .card-body ul li a:hover, .projects .container .main .body .split .first .card .card-body ul li a:active, .projects .container .main .body .split .first .card .card-body ul li a:focus,
.projects .container .main .body .split .second .card .card-body ul li a:hover,
.projects .container .main .body .split .second .card .card-body ul li a:active,
.projects .container .main .body .split .second .card .card-body ul li a:focus {
  color: #b5b5b5;
}
.projects .container .main .body .split .first .card .img {
  background-color: #333;
  background-image: url("../images/tetris.jpg");
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
}
.projects .container .main .body .split .second .card .img {
  background-color: #333;
  background-image: url("../images/2dBreakout.jpg");
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
}
.projects .container .btn .next {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
.projects .container .btn .next a.contact {
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #8B008B;
  background-image: none;
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
  color: #f5f5f5;
  text-decoration: none;
  transition: 0.5s;
}
.projects .container .btn .next a.contact:hover {
  background-color: #ff0cff;
  background-image: none;
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
  box-shadow: 0 0 1rem #8B008B;
}

.about .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .container .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .container .main .headline h1 {
  margin: 0.25rem;
  padding: 0.25rem;
}
.about .container .main .headline h1::first-letter {
  color: #FFA500;
}
.about .container .main .headline .underline i {
  color: #FFA500;
}
.about .container .main .body {
  padding: 1rem;
  margin: 1rem;
  width: 100%;
}
.about .container .main .body .split {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about .container .main .body .split {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.about .container .main .body .split .first .card, .about .container .main .body .split .second .card {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 0.25rem solid #FFA500;
  border-radius: 1rem;
}
.about .container .main .body .split .first .card h3, .about .container .main .body .split .second .card h3 {
  text-decoration-line: underline;
  text-decoration-color: #8B008B;
  text-decoration-style: solid;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.5rem;
  width: 100%;
  text-align: center;
  margin: 0.25rem;
  padding: 0.25rem;
}
.about .container .main .body .split .first .card h3::first-letter, .about .container .main .body .split .second .card h3::first-letter {
  color: #8B008B;
}
.about .container .main .body .split .first .card p, .about .container .main .body .split .second .card p {
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: normal;
  font-variant: normal;
  font-family: "Roboto";
  font-style: normal;
  font-stretch: normal;
}
@media screen and (min-width: 768px) {
  .about .container .main .body .split .first .card p, .about .container .main .body .split .second .card p {
    font-size: 1.25rem;
    font-weight: normal;
    font-variant: normal;
    font-family: "Roboto";
    font-style: normal;
    font-stretch: normal;
  }
}
.about .container .btn .next {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
.about .container .btn .next a.projects {
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #FFA500;
  background-image: none;
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
  color: #333;
  text-decoration: none;
  transition: 0.5s;
}
.about .container .btn .next a.projects:hover {
  background-color: #ffd280;
  background-image: none;
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
  box-shadow: 0 0 1rem #FFA500;
}

.contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
}
.contact .container .headline h1 {
  margin: 0.25rem;
  padding: 0.25rem;
}
.contact .container .headline h1::first-letter {
  color: #FFA500;
}
.contact .container .headline .underline i {
  color: #FFA500;
}
.contact .container .body {
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .container .body .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .container .body .form .field {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.contact .container .body .form .field label {
  text-decoration-line: underline;
  text-decoration-color: #FFA500;
  text-decoration-style: solid;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.5rem;
  width: 100%;
  text-align: left;
  margin: 0.25rem;
  padding: 0.25rem;
}
.contact .container .body .form .field label h3::first-letter {
  color: #FFA500;
}
.contact .container .body .form .field input, .contact .container .body .form .field textarea {
  width: 100%;
  height: 2rem;
  padding: 0.25rem;
  font-size: 1.5rem;
  font-weight: normal;
  font-variant: normal;
  font-family: "Roboto";
  font-style: normal;
  font-stretch: normal;
  border: none;
  border-radius: 0.5rem;
  outline: none;
}
@media screen and (min-width: 768px) {
  .contact .container .body .form .field input, .contact .container .body .form .field textarea {
    font-size: 1.75rem;
    font-weight: normal;
    font-variant: normal;
    font-family: "Roboto";
    font-style: normal;
    font-stretch: normal;
  }
}
.contact .container .body .btn .submit {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
.contact .container .body .btn .submit button {
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #FFA500;
  background-image: none;
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
  color: #333;
  text-decoration: none;
  transition: 0.5s;
  font-size: 1.5rem;
  width: 100%;
  cursor: pointer;
  border: none;
}
.contact .container .body .btn .submit button:hover {
  background-color: #ffd280;
  background-image: none;
  background-clip: border-box;
  background-origin: border-box;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
  box-shadow: 0 0 1rem #FFA500;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .container .social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.footer .container .social a i {
  font-size: 2rem;
  color: #fff;
  background-color: transparent;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  list-style: none;
}
.footer .container .social a i:hover {
  background-color: transparent;
  transform: translateY(-10px);
}
.footer .container .social .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.footer .container .social .menu .menu-item {
  list-style: none;
}
.footer .container .social .menu .menu-item .menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.footer .container .social .menu .menu-item .menu__link:hover {
  opacity: 1;
}
.footer .container .social p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
.footer .container .social .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}
.footer .container .social .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}
.footer .container .social .wave .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}
.footer .container .social .wave .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}
.footer .container .social .wave .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}
@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}/*# sourceMappingURL=style.css.map */