.home {
    .container{
        @include flex(column, center, center);
        .main {
            @include flex(column, flex-start, flex-start);
            @include media() {
                @include flex(row, space-around, flex-start);
            }

            .infoBx {
                margin: 1rem;
                padding: 1rem;
                .name {
                    margin: 0.75rem;
                    padding: 0.75rem;
                    h1 {
                        margin: 0.25rem;
                        padding: 0.25rem;
                        &::first-letter {
                            color: $secondary-color;
                        }
                    }
                }

                div.desc {
                    margin: .75rem;
                    padding: .75rem;

                    .basic {
                        margin: 0.25rem;
                        padding: 0.25rem;
                    }
                    .mail {
                        margin: 0.25rem;
                        padding: 0.25rem;

                        a.email-link {
                            @include vendorPrefix();
                            @include link($secondary-color);
                        }
                    }
                    .link {
                        margin: 0.25rem;
                        padding: 0.25rem;

                    }
                }

            }
        }
        .btn {
            .next {
                @include autoalign;
                padding: 1rem;

                a.about {
                    margin: .75rem;
                    padding: .75rem;
                    border-radius: .5rem;
                    @include background($secondary-color);
                    color: $light-color;
                    text-decoration: none;
                    @include vendorPrefix(transition, .5s);

                    &:hover {
                        @include background(lighten($color: $secondary-color,
                                $amount: 25%));

                        @include shadow(0, 0, 1rem, $secondary-color)
                    }
                }
            }
        }
        

    
    
        .skills {
            @include flex(column, space-between,center);
            border-radius: 1.5rem;
            padding: 1rem;
            margin: 1rem;
            color: $light-color;
            
            @include background($dark-color);

            .headline {
                margin: 0.5rem;
                padding: 0.5rem;
                @include flex(column, center,center);
                h1 {
                    &::first-letter {
                        color: $primary-color;
                    }
                }
                .underline {
                    display: none;
                     @include media(bigPhone) {
                        display: flex;
                    }

                    hr {
                        width: 6rem;

                        @include media(laptop) {
                            width: 12rem;
                        }

                    }
                    i {
                        color: $primary-color;
                    }
                }
            }
         
            .body {
                margin: .5rem;
                padding: .5rem;

                ul {
                    @include flex(column, center, center);
                    width: 100%;
                    list-style: none;
                    @include media(bigPhone) {
                        @include flex(row, center, center);
                    }
                    @include media(tablet) {
                        @include flex(column, center, center);

                    }

                    @include media(laptop) {
                        @include flex(row, center, center);
                    }
            
            
                    li {
                        @include flex(row, flex-start, center);
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        margin: .25rem;
                        padding: 0.25rem;
                        
                        i {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

    }
}

