.about {
    .container {
        @include flex(column, center, center);    


        .body {
            padding: 1rem;
            margin: 1rem;
            width: 100%;

            .split {
                @include flex(column, center, center);

                @include media() {
                    @include flex(row, center, center);
                }
                .first, .second {
                    .card {
                        margin: 1rem;
                        padding: 1rem;
                        @include flex(column, space-between, flex-start);
                        border: .25rem solid $primary-color;
                        border-radius: 1rem;
                    
                        h3 {
                            @include underline();
                            width: 100%;
                            text-align: center;
                            padding: 0.25rem;
                        }
                    
                        p {
                            padding: 0.25rem;
                            @include font(1rem);
                    
                            @include media() {
                                @include font(1.25rem);
                            }
                        }
                    }
                }
            }
        }   
    }
}